<!DOCTYPE html>
<html ng-app="dwConfApp">
<head>
    <title></title>
    <meta name="description" content="">
    <meta name="author" content="Todd Shelton">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=1, minimum-scale=1.0, maximum-scale=1.0">

    <!--<link rel="shortcut icon" href="favicon.ico"/>-->
    <!--<link rel="apple-touch-icon" href="apple-touch-icon.png"/>-->
    <link rel="stylesheet" href="src/css/styles.css"/>
</head>
<body>
<nav ng-controller="NavCtrl">
    <a href="#/about">about</a>
    <a href="#/module1">module1</a>
    <button ng-click="changeNav('/home')">HOME</button>
    <button ng-click="changeNav('/about')">ABOUT</button>
    <button ng-click="changeNav('/work')">WORK</button>
    <button ng-click="changeNav('/contact')">CONTACT</button>
    <button ng-click="changeNav('/module1')">MODULE1</button>
</nav>

<div ng-view></div>


<script src="angular-1.3.0-beta.13/angular.min.js"></script>
<script src="bower_components/angular-route/angular-route.min.js"></script>
<script src="src/menu/Menu.js"></script>
<script src="src/app/app.js"></script>
<script src="src/module1/module1.js"></script>

</body>
</html>