* {
    margin: 0;
}

.homeView {
    min-height: 400px;
    background-color: #FA787E;
}

.contactView {
    min-height: 400px;
    background-color: #008800;
}

.workView {
    min-height: 400px;
    background-color: #004099;
}

.aboutView {
     min-height: 400px;
     background-color: #e3e3e3;
 }

.module1 {
    min-height: 400px;
    background-color: #2b542c;
}